</div>
</div>
<div class="col desktop-social-media mobile-small-social-media mobile-large-social-media">
  <p>Created by Brittany Gates:<br><a href="https://www.brittanygates.me" title="My Blog" target="_blank">My Website</a><br><a href="https://brittbot.com/" title="Websites & Programming Talk" target="_blank">My WordPress/Programming Blog</a><br><a href="https://letsallmeat.com" title="My Online Store" target="_blank"><i class="bi bi-shop"></i></a> - <a href="https://www.linkedin.com/in/brittanygates/" title="My LinkedIn Profile" target="_blank"><i class="bi bi-linkedin"></i></a> - <a href="https://twitter.com/bgates_writer" title="Brittany's Twitter Profile" target="_blank"><i class="bi bi-twitter"></i></a> - <a href="https://twitter.com/brittbot_bgates" title="Brittbot Twitter Profile" target="_blank"><i class="bi bi-twitter"></i></a> - <a href="https://www.youtube.com/c/BrittanyGates" title="My YouTube Channel" target="_blank"><i class="bi bi-youtube"></i></a></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>
